{% extends "learning.html" %}

{% block title %} HTML form {% endblock %}

{% block menu %} 
     <ul class="ul">
     <li><a href="/code/html">HTML basic</a></li>
     <li><a href="/code/html/attribute">HTML Attribute</a></li>
     <li><a href="/code/html/element">HTML Element</a></li>
     <li><a href="/code/html/formatting">HTML Formatting</a></li>
     <li><a href="/code/html/heading">HTML Heading</a></li>
     <li><a href="/code/html/paragraph">HTML Paragraph</a></li>
     <li><a href="/code/html/phrase">HTML Phrase tag</a></li>
     <li><a href="code/html/anchor">HTML Anchor</a></li>
     <li><a href="/code/html/image">HTML Image</a></li>
     <li><a href="/code/html/list">HTML List</a></li>
     <li><a href="/code/html/order">HTML Order</a></li>
     <li><a href="/code/html/unorder">HTML Unorder</a></li>
     <li><a href="/code/html/list-describtion">HTML Describtion List</a></li>
     <li><a href="/code/html/form">HTML form</a></li>
     <li><a href="/code/html/form">HTML form</a></li>
     <li><a href="/code/html/input">HTML Form input type</a></li>
     <li><a href="/code/html/form-attribute">HTML Form Attribbute</a></li>
     <li><a href="/code/html/class">HTML Class</a></li>
     <li><a href="/code/html/id">HTML ID Attribute</a></li>
     <li><a href="/code/html/iframe">HTML Iframe</a></li>
     <li><a href="/code/html/js">HTML JavaScript</a></li>
     <li><a href="/code/html/comment">HTML Comment</a></li>
     <li><a href="/code/html/file">HTML File Path</a></li>
     <li><a href="/code/html/head">HTML Head</a></li>
     <li><a href="/code/html/layout">HTML Layout</a></li>
     <li><a href="/code/html/Layout-tech">HTML Layout Technique</a></li>
     <li><a href="/code/html/response">HTML Response</a></li>
     <li><a href="/code/html/computer">HTML Response</a></li>
     <li><a href="/code/html/code">HTML Computer Code</a></li>
     <li><a href="/code/html/entitie">HTML Entitie</a></li>
     <li><a href="/code/html/symbol">HTML Symbol</a></li>
     <li><a href="/code/html/charset">HTML Charset</a></li>
     <li><a href="/code/html/urlencode">HTML URL Encode</a></li>
     <hr>
     <h3>Learn New skills</h3>
     <li><a href="/code/python">Learn Python</a></li>
     <li><a href="/code/js">Learn js</a></li>
     <li><a href="/code/css">CSS</a></li>
   </ul>
{% endblock %}

{% block content %}
   <div class="mt-5 container-fluid">
     <div class="mt-5 d-flex justify-content-between">
       <a class="btn btn-primary p-3" href="/code/html/description">Previous</a>
       <a class="btn btn-primary p-3" href="/code/html/form">Next</a>
     </div>
     <h1 class="mb-5 mt-5">HTML Form</h1>
     <p>An<strong>HTML form</strong> is a section of a document which controls such a text fields, password fields, checkboxes, radio buttons, submit buttons, menu e.t.c</p>
     <p>
       An HTML facillitates the user to enter data that is to be sent to the server for processing such as name, email address, password, phone, etc..
     </p>
     <h2 class="mt-4 mb-4">Why use HTML Form</h2>
     <p>
       HTML form are required if you want to collect some data from of the site visitor.
     </p>
     <p>For example: If a user want to purchase some items on internet, he/she must fill the form such as shipping address and credit/debit card details so that items can be sent to the given address.</p>
     
     <h2 class="mt-4 mb-4">HTML Form Syntax</h2>
     <textarea style="height: auto" disabled="">
<form action="server url">
  <!-- input control e.g textfield-->
</form>
     </textarea>
     <h2 class="mt-3 mb-3">HTML < form > element</h2>
     <p>
       The HTML < form > element provide a document section to take input form user. It provide various interactive controls for submitting information to web server such as text field,textarea, password field, etc.
     </p>
     <div class="bg-dark text-light p-2">
       <strong>Note: </strong>The form element does not itself create a form but it is container to contain all required form elements, such as < input >, < label >, etc. 
     </div>
     <h3 style="height: auto" class="mt-4 mb-3">Syntaxt</h3>
     <textarea>
<form>
  <!-- form element -->
</form>
     </textarea>
     <h2 class="mb-3">HTML < input > element</h2>
     <p>
       The HTML < input > element is fundamental form element. It is used to create form fields, to take input from user. We can apply different input filed to gather different information form user. Following is the example to show the simple text input.
     </p>
     <h2 class="mt-3 mb-3">Example</h2>
     <textarea class="mb-3" id="code1" disabled="">
<!Doctype html>
<html lang="en">
  <head></head>
  <body>
    <form>
    Enter your name <br/>
    <input type="text" name="username"/>
    </form>
  </body>
</html>
     </textarea>
    <h2>Output:</h2>
    <div id="output1" class="mb-2 border rounded"></div>
    <h2 class="mt-5 mb-5">HTML TextField Control</h2>
    <p>
      The type="text" attribute of input tag creates textfield control also known as single line textfield control. The name attribute is optional, but it is required for the server side component such as JSP, ASP, PHP, etc.
    </p>
    <textarea id="code2" disabled="">
<form>
  First Name: <input type="text" name="first_name"/><br/>
  Last Name: <input type="text" name="last_name"/><br>
</form>
    </textarea>
    <h2>Output:</h2>
    <div id="output2" class="rounded border"></div>
    <div class="mt-5 mb-5 text-light bg-dark p-3">
      <strong>Note: </strong>If you will omit name attribute then the text field input will not be submitted to server.
    </div>
    <h2 class="mt-5 mb-5">HTML < textarea > tag in form</h2>
    <p>
      The < textarea > tag in HTML is used to insert multiple-line text in a form. The size of < textarea > can be specify either using "row" or "cols" attribute or by CSS.
    </p>
    <h3 class="mt-5 mb-5">Example</h3>
    <textarea class="mb-3" id="code3" disabled="">
<!Doctype html>
<html lang="en">
  <head></head>
  <body>
    <form>
      Enter your address: <br>
      <textarea class="bg-light text-dark" cols="20" rows="2">
        
      </textarea>
      <h2>Output:</h2>
      <div id="output3" class="border rounded"></div>
    </form>
  </body>
</html>
    </textarea>
    <h2 class="mb-4 mt-3">Label Tag in Form</h2>
    <p>
      It is considered better to have label in form. As it makes the code parser/browser/user friendly.
    </p>
    <p>
      if you click on the label tag it will focus on the text control. To do so, you need to have for attribute im label tag that must be same as id attribute of input tag.
    </p>
    <div class="bg-dark mt-5 mb-5 text-light p-3">
      <strong>Note: </strong>It is good to use < label > tag with form, although it is optional but if you will use it, then it will provide a focus when you tap or click on label tag. It is more worthy with touchscreens.
    </div>
    <textarea id="code4" class="" disabled="">
<form>
  <label for="firstName">First Name</label>
       <input type="text" id="firstName">
  <label for="lastName">Last Name</label>
       <input type="text" name="lastName">
</form>
    </textarea>
    <h2>Output:</h2>
    <div id="output4" class="rounded border"></div>
       <h2 class="mt-5 mb-5">
         HTML Password Field Control 
       </h2>
       <p>
         The password is not visible to the user in password field control.
       </p>
       <textarea disabled id="code5">
<form>
  <label for="password">Password</label>
  <input type="password" id="password"/>
</form>
       </textarea>
       <h2>Output:</h2>
       <div id="output5" class="rounded border"></div>
       <h2 class="mt-5 mb-5">HTML5 Email Field Control</h2>
       <p>
         The email field in new HTML5. It validates the text for correct email address. You must use @ and . in this field.
       </p>
       <textarea class="mt-3" id="code6" disabled="">
 <form>
   <label for="email">Email: </label>
   <input id="email" type="email" name="email"/>
 </form>
       </textarea>
       <h2>Output: </h2>
       <div id="output6" class="border rounded"></div>
       <div class="bg-dark text-light p-3 mt-5 mb-5">
         <strong>Note: </strong>If we will not enter the correct email, it will display error.
       </div>
       <h2 class="mt-5">Radio Button Control</h2>
       <p>
         The radio button is used to select one option from multiple options. It is used for selection of gender, quiz question etc.
       </p>
       <p>
         if you use one name for all the radio buttons, only one radio button can be selected at a time.
       </p>
       <p>
         Using radio button for multiple options, you can only choose a single option at a time.
       </p>
       <textarea disabled="" id="code7" class="mt-4 mb-4">
 <form>
   <label for="gender">Gender: </label>
   <input type="radio" id="gender" name="male"/>
   <input type="radio" id="gender" name="female"/>
 </form>
       </textarea>
       <h2>Output:</h2>
       <div id="output7" class="rounded border"></div>
       
      <h2 class="mt-5 mb-5">Checkbox Control</h2>
      <p>
        The checkbox control is used to check multiple options from given checkboxes.
      </p>
      <textarea disabled="" id="code8">
<form>  
Hobby:<br>  
              <input type="checkbox" id="cricket" name="cricket" value="cricket"/>  
                 <label for="cricket">Cricket</label> <br>  
              <input type="checkbox" id="football" name="football" value="football"/>  
                 <label for="football">Football</label> <br>  
              <input type="checkbox" id="hockey" name="hockey" value="hockey"/>  
                 <label for="hockey">Hockey</label>  
</form>  
      </textarea>
      <h2>Output: </h2>
      <div id="output8" class="border rounded"></div>
      <div class="p-3 bg-dark text-light">
        <strong>Note: </strong>These are similar to radio button except it can choose multiple options at a time and radio button can select one button at a time, and its display.
      </div>
      <h2 class="mt-5 mb-5">Submit button control</h2>
      <p>
        HTML <strong> < input type="submit" value="submit" > </strong> are used to add a submit button on web page. When user click on submit button, then form get submit to the server.
      </p>
      <h3 class="mt-4"></h3>
      <ol>
        <li><strong> < input type="submit" value="submit" ></strong></li>
      </ol>
      <p>The type="submit", specifying that it is a submit button.</p>
      <p>The value attribute can be anything which we write on button on web page.</p>
      <p>The name attribute can be omit here.</p>
      <h3 class="mt-3">Example</h3>
      <textarea id="code9" disabled="" class="mt-3">
<form>  
    <label for="name">Enter name</label><br>  
    <input type="text" id="name" name="name"><br>  
    <label for="pass">Enter Password</label><br>  
    <input type="Password" id="pass" name="pass"><br>  
    <input type="submit" value="submit">  
</form> 
      </textarea>
      <h2>Output:</h2>
      <div id="output9" class="border rounded"></div>
      <h3>HTML < fieldset > element</h3>
      <p>
        The < fieldset > element in HTML is used to group the related information of a form. This element is used with < legend > element which provide caption for the grouped elements
      </p>
      <h3 class="mt-3">Example</h3>
      <textarea class="mt-3" id="code10" disabled="">
 <!DOCTYPE html>  
 <html>  
 <head>  
  <title>Form in HTML</title>  
</head>  
 <body>  
     <h2>Registration form</h2>  
    <form>  
     <fieldset>  
        <legend>User personal information</legend>  
        <label>Enter your full name</label><br>  
        <input type="text" name="name"><br>  
         <label>Enter your email</label><br>  
         <input type="email" name="email"><br>  
         <label>Enter your password</label><br>  
         <input type="password" name="pass"><br>  
         <label>confirm your password</label><br>  
         <input type="password" name="pass"><br>  
         <br><label>Enter your gender</label><br>  
         <input type="radio" id="gender" name="gender" value="male"/>Male  <br>  
         <input type="radio" id="gender" name="gender" value="female"/>Female <br/>    
         <input type="radio" id="gender" name="gender" value="others"/>others <br/>   
          <br>Enter your Address:<br>  
         <textarea class="text-dark bg-light"></textarea><br>  
         <input type="submit" value="sign-up">  
     </fieldset>  
  </form>  
 </body>  
</html>
      </textarea>
      <h2>Output:</h2>
      <div id="output10" class="rounded border"></div>
      <div class="mt-5 d-flex justify-content-between">
        <a class="btn btn-primary p-3" href="/code/html/description">Previous</a>
        <a class="btn btn-primary p-3" href="/code/html/form">Next</a>
      </div>
   </div>
   <script>
     let code1 = document.getElementById("code1").value;
     document.getElementById("output1").innerHTML = code1;
     let code2 = document.getElementById("code2").value;
     document.getElementById("output2").innerHTML = code2;
     let code3 = document.getElementById("code3").value;
     document.getElementById("output3").innerHTML = code3;
     let code4 = document.getElementById("code4").value;
     document.getElementById("output4").innerHTML = code4;
     let cod5  = document.getElementById("code5").value;
     document.getElementById("output5").innerHTML = code5;
     let code6 = document.getElementById("code6").value;
     document.getElementById("output6").innerHTML = code6;
     let code7 = document.getElementById("code7").value;
     document.getElementById("output7").innerHTML = code7;
     let code8 = document.getElementById("code8").value;
     document.getElementById("output8").innerHTML = code8;
     let code9 = document.getElementById("code9").value;
     document.getElementById("output9").innerHTML = code9;
     let code10 = document.getElementById("code10").value;
     document.getElementById("output10").innerHTML = code10;
   </script>
{% endblock %}