{% extends "learning.html" %}

{% block title %} HTML Description {% endblock %}

{% block menu %}
   <ul class="ul">
     <li><a href="/code/html">HTML basic</a></li>
     <li><a href="/code/html/attribute">HTML Attribute</a></li>
     <li><a href="/code/html/element">HTML Element</a></li>
     <li><a href="/code/html/formatting">HTML Formatting</a></li>
     <li><a href="/code/html/heading">HTML Heading</a></li>
     <li><a href="/code/html/paragraph">HTML Paragraph</a></li>
     <li><a href="/code/html/phrase">HTML Phrase tag</a></li>
     <li><a href="code/html/anchor">HTML Anchor</a></li>
     <li><a href="/code/html/image">HTML Image</a></li>
     <li><a href="/code/html/list">HTML List</a></li>
     <li><a href="/code/html/order">HTML Order</a></li>
     <li><a href="/code/html/unorder">HTML Unorder</a></li>
     <li><a href="/code/html/list-describtion">HTML Describtion List</a></li>
     <li><a href="/code/html/form">HTML form</a></li>
     <li><a href="/code/html/form">HTML form</a></li>
     <li><a href="/code/html/input">HTML Form input type</a></li>
     <li><a href="/code/html/form-attribute">HTML Form Attribbute</a></li>
     <li><a href="/code/html/class">HTML Class</a></li>
     <li><a href="/code/html/id">HTML ID Attribute</a></li>
     <li><a href="/code/html/iframe">HTML Iframe</a></li>
     <li><a href="/code/html/js">HTML JavaScript</a></li>
     <li><a href="/code/html/comment">HTML Comment</a></li>
     <li><a href="/code/html/file">HTML File Path</a></li>
     <li><a href="/code/html/head">HTML Head</a></li>
     <li><a href="/code/html/layout">HTML Layout</a></li>
     <li><a href="/code/html/Layout-tech">HTML Layout Technique</a></li>
     <li><a href="/code/html/response">HTML Response</a></li>
     <li><a href="/code/html/computer">HTML Response</a></li>
     <li><a href="/code/html/code">HTML Computer Code</a></li>
     <li><a href="/code/html/entitie">HTML Entitie</a></li>
     <li><a href="/code/html/symbol">HTML Symbol</a></li>
     <li><a href="/code/html/charset">HTML Charset</a></li>
     <li><a href="/code/html/urlencode">HTML URL Encode</a></li>
     <hr>
     <h3>Learn New skills</h3>
     <li><a href="/code/python">Learn Python</a></li>
     <li><a href="/code/js">Learn js</a></li>
     <li><a href="/code/css">CSS</a></li>
   </ul>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="mt-5 d-flex justify-content-between">
      <a class="btn btn-primary p-3" href="/code/html/unorder">Previous</a>
      <a class="btn btn-primary p-3" href="/code/html/form">Next</a>
    </div>
    <h2 class="mt-5 mb-5">HTML Description List | HTML Definition List </h2>
    <p>
      <strong>HTML Description List </strong>or Definition List displays elements in definition form like in dictionary. The < dl >, < dit > and < dd > tag are used to define description list.
    </p>
    <p>The 3 HTML description list tags are given below: </p>
    <code>
      < dl > tags define the description list
      < dt > tag define data type
      < dd > tag defines data definition 
    </code>
    <h2 class="mt-3 mb-3">Code: </h2>
    <textarea class="mb-3" id="code1" disabled="">
<dl>  
  <dt>HTML</dt>  
  <dd>is a markup language</dd>  
  <dt>Java</dt>  
  <dd>is a programming language and platform</dd>  
 <dt>JavaScript</dt>  
 <dd>is a scripting language</dd>  
  <dt>SQL</dt>  
  <dd>is a query language</dd>   
</dl>  
    </textarea>
    <h2>Output:</h2>
    <div id="output1" class="border rounded">
    </div>
        <div class="mt-5 d-flex justify-content-between">
      <a class="btn btn-primary p-3" href="/code/html/unorder">Previous</a>
      <a class="btn btn-primary p-3" href="/code/html/form">Next</a>
    </div>
  </div>
  <script>
    let code1 = document.getElementById("code1").value;
    document.getElementById("output1").innerHTML = code1;
  </script>
{% endblock %}